{{word}}
{{blanks}}
{{letterGuessed}}
<form action="/guess" method="post">
  <input type="text" name="letterGuessed" />
  <input type="submit" name="submit" />
</form>
<a href="/logout">destroy session</a>
